<div class="wrapper">
  <aside class="aside aside-1">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li>
          <a class="nav-link" [routerLink]="['/admin/add']" routerLinkActive="active">Add</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/admin/edit']" routerLinkActive="active">Edit</a>
        </li>
      </ul>
    </nav>
  </aside>

  <article class="main">
    <router-outlet></router-outlet>
  </article>
</div>
